{% extends 'news/base.html' %}
{% load static %}
{% block content %}
{{block.super}}
    <div class="container">
        {% for news_item in news %}
            {{ news_item.title }}
            <p> {{news_item.pub_date}} </p>
            <img src="{{ news_item.article_image.url }}" class="img-responsive" alt="Image">
             <a href="{% url 'article' news_item.id %}" class="button">{{ news_item.title }}</a>
            <ul>
                <li>{{news_item.content}}</li>
            </ul>
        {% empty %}
            Here we go!!!
        {% endfor %}

        <div class="news-letter-form">
            
            <form method="post" enctype="multipart/form-data" id="newsletter-form">
                <p class="letter-title"> subscribe to our news letters</p>
                {% csrf_token %}
                <div class="form-fiels">
                    {{form.as_p}}
                </div>
                <div class="form-button">
                    <button type="submit"> subscribe </button>
                </div>
            </form>
            <div id="message-box">

            </div>
        </div>
            {% block scripts %} <script src="{% static 'js/newsletter.js' %}"></script> {% endblock %}

    </div>
    
{% endblock %}