{% extends 'news/base.html' %}

{% block content %}
{{block.super}}
    <h2>
        {% for news_item in news %}
            {{ news_item.title }}
            <p> {{news_item.pub_date}} </p>
            <img src="{{ news_item.article_image.url }}" class="img-responsive" alt="Image">
             <a href="{% url 'article' news_item.id %}" class="button">{{ news_item.title }}</a>
            <ul>
                <li>{{news_item.content}}</li>
            </ul>
        {% empty %}
            Here we go!!!
        {% endfor %}
    </h2>
    
{% endblock %}